/* Color variables */
/* Reset of box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General style */
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #ece2da;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Mansalva", cursive;
  color: #412625;
  font-size: 3.5em;
  margin-left: 0.5em;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 15px 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

/* Header and navigation */
#header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 15%;
}
#header .navigation {
  font-size: 2em;
}
#header .navigation ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#header .navigation li {
  list-style-type: none;
  text-align: center;
  background-color: #663924;
  border-radius: 5px;
  margin: 15px 35px;
  width: 180px;
}
#header .navigation li :hover {
  background-color: #3f1402;
  border-radius: 5px;
}
#header .navigation li :focus {
  width: 180px;
}
#header .navigation a {
  color: #f5f3f3;
  text-decoration: none;
  display: block;
  padding: 20px 10px;
}

/* General section styling */
.about-container,
.contact-container {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas: "a b c d";
  grid-row-gap: 15px;
  align-items: center;
}
.about-container > *,
.contact-container > * {
  padding: 15px;
}
.about-container img,
.contact-container img {
  width: 100%;
}
.about-container p,
.about-container h2,
.contact-container p,
.contact-container h2 {
  padding: 0.7em;
}

/* About section */
#about {
  background-color: #271906;
  color: #f5f3f3;
}
#about .image-container {
  grid-area: b;
}
#about .about-article-1 {
  grid-area: c;
}

/* Menu section */
#menu {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.644), rgba(185, 120, 100, 0.445)), url(images/mike-kenneally-unsplash.jpg);
}

.menu-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-areas: "a b c";
  padding-bottom: 30px;
}

.menu-article {
  grid-area: b;
  background-color: rgba(179, 178, 178, 0.527);
}
.menu-article p,
.menu-article h3 {
  padding: 0.7em;
}
.menu-article .pdf-and-video-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.menu-article .pdf-and-video-container video {
  padding: 35px;
}

.menu-pdf {
  height: 90vh;
  width: 45vw;
}

/* Contact section */
.contact-form {
  text-align: left;
  grid-area: b;
  justify-self: center;
}
.contact-form p {
  padding: 0;
}
.contact-form input {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}
.contact-form textarea {
  width: 100%;
}
.contact-form button {
  padding: 10px 20px;
  display: block;
}
.contact-form button:hover {
  cursor: pointer;
}

.contact-container img {
  grid-area: c;
}

/* Footer section */
footer {
  background-color: #00232c;
  color: #f5f3f3;
}
footer p {
  padding: 3px;
}
footer a {
  text-decoration: none;
  color: #f5f3f3;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: a b c;
  text-align: center;
  padding: 15px 0;
}

.social-media ul {
  list-style-type: none;
}
.social-media i {
  font-size: 0.6em;
  margin: 5px;
}
.social-media a {
  font-size: 2em;
  padding: 10px;
}

.additional-links a {
  display: block;
  padding: 5px 0;
}

.copyright-thing {
  padding: 20px;
  font-size: 0.9em;
}

/* Back-to-top button */
.back-to-top-btn a {
  position: fixed;
  top: 93%;
  right: 1%;
  width: 75px;
  height: 55px;
  background-color: #663924;
  border-radius: 5px;
  border: 1px solid #f5f3f3;
  text-align: center;
  color: white;
  font-size: 2.5em;
  text-decoration: none;
}
.back-to-top-btn :hover {
  background-color: #3f1402;
}

@media only screen and (max-width: 1180px) {
  #header {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
    padding: 10px;
  }

  #about .image-container {
    grid-area: a;
  }
  #about .about-article-1 {
    grid-area: b;
  }

  .menu-article .pdf-and-video-container {
    display: block;
  }
  .menu-article .menu-pdf {
    width: 80vw;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 800px) {
  #header .navigation ul {
    display: block;
    width: 80vw;
  }
  #header .navigation ul li {
    width: 80%;
  }

  .about-container {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  video {
    width: 100%;
  }

  .contact-container,
.footer-container {
    display: block;
  }

  .footer-container h2 {
    padding: 30px 0 5px 0;
  }
}

/*# sourceMappingURL=style.css.map */
