/* Color variables */
$base-color: #ece2da;
$primary-color: #567a72;
$secondary-color: #d4aaaa;
$third-color: #271906;
$contrast-color-1: #412625;
$button-color: #663924;
$button-focus: #3f1402;
$text-color: rgb(245, 243, 243);
$dark-color: #00232c;

/* Reset of box model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style */
html, 
body {
    scroll-behavior: smooth;
}

body {
    background-color: $base-color;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Mansalva', cursive;
    color: $contrast-color-1;
    font-size: 3.5em;
    margin-left: 0.5em;
    text-align: left;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2em;
    padding: 15px 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}



/* Header and navigation */
#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: start;
    height: 15%;

    .navigation {
        font-size: 2em;

        ul {
            display: flex;
        }

        li {
            list-style-type: none;
            text-align: center;
            background-color: $button-color;
            border-radius: 5px;
            margin: 15px 35px;
            width: 80%;

            :hover {
                background-color: $button-focus;
                border-radius: 5px;
            }
            
            // :focus {
            //     width: 180px;
            // }
        }

        a {
            color: $text-color;
            text-decoration: none;
            display: block;
            padding: 20px 40px;
        }
    }
}

/* General section styling */
.about-container, 
.contact-container {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: "a b c d";
    grid-row-gap: 15px;
    align-items: center;
    
    > * { // Apply padding to all child elements
        padding: 15px;
    }

    img {
        width: 100%;
    }

    p,
    h2 {
        padding: 0.7em;
    }
}


/* About section */
#about {
    background-color: $third-color;
    color: $text-color;

    .image-container {
        grid-area: b;
    }
    .about-article-1 {
        grid-area: c;
    }
}

/* Menu section */
#menu {
    background-image: linear-gradient(to top, 
                    hsla(0, 0%, 0%, 0.644),
                    hsla(14, 38%, 56%, 0.445)),
                    url(images/mike-kenneally-unsplash.jpg);
}

.menu-container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas: "a b c";
    padding-bottom: 30px;
}

.menu-article {
    grid-area: b;
    background-color: hsla(0, 1%, 70%, 0.527);
    p,
    h3 {
        padding: 0.7em;
    }
    .pdf-and-video-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: center;
        video {
            padding: 35px;
        }
    }
}

.menu-pdf {
    height: 90vh;
    width: 45vw;
}    

/* Contact section */
.contact-container {
    img {
        grid-area: c;
    }
}

.contact-form-and-info {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    h3 {
        padding: 10px 0;
    }
}

.contact-form {
    text-align: left;
    
    p {
        padding: 0;
    }

    input {
        padding: 10px;
        margin: 5px 0;
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    button {
        padding: 10px 20px;
        display: block;

    }
    
    button:hover {
        cursor: pointer;
    }
}

.additional-contact {
    margin: 0 0 25px 0;
    p {
        padding: 5px;
    }
}


/* Footer section */
footer {
    background-color: $dark-color;
    color: $text-color;
    p {
        padding: 3px;
    }
    a {
        text-decoration: none;
        color: $text-color;
    }
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: a b ;
    text-align: center;
    padding: 15px 0;
}

.social-media {
    ul {
        list-style-type: none;
    }

    i {
        font-size: 0.6em;
        margin: 5px;
    }

    a {
        font-size: 2em;
        padding: 10px;
    }

    p {
        display: inline;
        font-size: 0.6em;
    }
}

.additional-links {
    a {
        display: block;
        padding: 5px 0;
    }
}

.copyright-thing {
    padding: 20px;
    font-size: 0.9em;
}

/* Back-to-top button */
.back-to-top-btn {
    a {
    position: fixed;
    top: 93%;
    right: 1%;
    width: 75px;
    height: 55px;
    background-color: $button-color;
    border-radius: 5px;
    border: 1px solid $text-color;
    text-align: center;
    color: white;
    font-size: 2.5em;
    text-decoration: none;
    }
    
    :hover {
        background-color: $button-focus;
    }

    p {
        opacity: 0;
    }
}


@media only screen and (max-width: 1180px) {
    #header {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .about-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        padding: 10px;
    }
    
    #about {
        .image-container {
            grid-area: a;
        }
        .about-article-1 {
            grid-area: b;
        }
    }

    .menu-article {
        .pdf-and-video-container {
            display: block;
        }

        .menu-pdf {
            width: 80vw;
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 800px) {
    #header {
        display: block;
        h1 {
            margin: 0;
            text-align: center;
        }
        .navigation ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
            a {
                width: 100%;
            }
        }
    }
    
    .contact-container, 
    .about-container {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    video {
        width: 100%;
    }
     
    .footer-container {
        display: block;
    }
    .footer-container h2 {
        padding: 30px 0 5px 0;
    }
}
