$base-color: #424b54;
$primary-color: #56667a;
$secondary-color: #ba6e6e;
$third-color: #596f62;
$contrast-color-1: #ee7674;
$contrast-color-2: #69a2b0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $base-color;
}